* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

@media screen and (max-width: 580px) {
    .container1 {
    width: 90%;
    min-height: 300px;
    background-color: blue;
    margin: 10px auto;
    }
}

@media screen and (min-width: 581px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
    }
    
    .container2 {
        width: 30%;
        min-height: 300px;
        background-color: blue;
    }

    .container3 {
        width: 60%;
        min-height: 300px;
        background-color: rgb(56, 194, 56);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .sub-square1 {
        width: 40%;
        height: 250px;
        background-color: white;
    }

    .sub-square2 {
        width: 40%;
        height: 250px;
        background-color: white;
    }
}